/* Z-INDEX TRACKER:
  - 1000: tooltip text
  - 1100: main page menu button + chart button
  - 1101: menu bar overlay
  - 1102: menu bar
  - 1103: menu bar top bar (bar bar)
  - 1104: fixed menu button
  - 2000: version grid menu overlay + chart overlay
  - 2001: version grid menu + chart menu
  - 2002: version grid menu bar + chart bar
*/

html, body {
  margin: 0;
  padding: 0;
  scrollbar-gutter: stable;
  font-family: 'Inconsolata', monospace;
  background-color: #111111;
  color: #ffffff;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body.no-scroll {
  overflow: hidden;
}

/* ------------------------------------------------------------------------ TITLE ------------------------------------------------------------------------ */

/* main page header (unselectable) */
#da {
  font-size: 24px;
  font-weight: bold;
  user-select: none;
}

/* ----------------------------------------------------------------------- VERSION ----------------------------------------------------------------------- */

/* version button placement */
#v {
  justify-content: center;
  display: flex;
}
#v-text {
  width: 200px;
  padding: 15px;
  border: 2px solid;
  border-radius: 4px;
  cursor: pointer;
}
#v-text:hover {
  color: #000000;
  background-color: #b2cee7;
  border: 2px solid #b2cee7;
  transition: all 0.1s ease-in-out;
}
/* version navgiation buttons < [] > */
#v-l, #v-r {
  margin-top: -10px;
  margin-left: 15px;
  margin-right: 15px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}
#v-l:hover, #v-r:hover {
  color: #b2cee7;
  transition: all 0.1s ease-in-out;
}
/* version + time text */
#v-name {
  font-size: 16px;
  font-weight: bold;
}
#v-time {
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
}

/* ------------------------------------------------------------------------ BUFF ------------------------------------------------------------------------ */

/* buff placement */
#b {
  margin: 15px 15px;
  gap: 15px;
  min-height: 330px;
  display: flex;
}
#b1, #b2, #b3 {
  padding: 15px;
  align-items: center;
  flex: 1;
  border-radius: 4px;
  background-color: #27363e;
  border: 1px solid #27363e;
  flex-direction: column;
}
/* buff image + text */
#b-img1, #b-img2, #b-img3 {
  height: 48px;
}
#b-name1, #b-name2, #b-name3  {
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
  user-select: all;
}
#b-desc1, #b-desc2, #b-desc3 {
  font-size: 14px;
  line-height: 2.0;
}

/* --------------------------------------------------------------------- 3 HP DISPLAY --------------------------------------------------------------------- */

/* node + enemy hp placement */
#v-hp {
  margin: 15px 30vw;
  font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  align-items: center;
  border-radius: 4px;
  background-color: #27363e;
  border: 1px solid #27363e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#v-hp-raw, #v-hp-alt {
  display: flex;
  flex-direction: column;
}
/* raw, aoe, alt hp display */
#v-hp-raw-20000, #v-hp-raw-60000 {
  color: #e06666;
  font-weight: bold;
  user-select: all;
}
#v-hp-alt-20000, #v-hp-alt-60000 {
  color: #f6b26b;
  font-weight: bold;
  user-select: all;
}

/* ------------------------------------------------------------------------ SIDE ------------------------------------------------------------------------ */

/* two sides placement, and gap between them */
#s {
  padding: 15px;
  gap: 15px;
  justify-content: center;
  display: flex;
}
#s1, #s2, #s3 {
  gap: 15px;
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}
/* put side header + content in the center of each half */
.s-header {
  font-size: 16px;
  color: #f29e38;
  font-weight: bold;
}
.s-hp-daze-anom-mult {
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
  color: #ffffff;
  user-select: none;
}

/* ------------------------------------------------------------------------ ENEMY ------------------------------------------------------------------------ */

/* wave's enemies in a row */
.e {
  padding: 15px;
  display: block;
  position: relative;
}
.e-img {
  height: 210px;
  transition: opacity 0.1s ease-in-out;
  user-select: none;
}
.e-hp {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #ff5555;
  user-select: all;
}
.e-hp-mult {
  font-size: 10px;
  color: #888888;
}
.e-def {
  margin-top: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #5555ff;
  user-select: all;
}
/* enemy hover image */
.e-hover {
  max-height: 210px;
  display: block;
  position: relative;
}
.e-hover .e-name {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.e-hover:hover img {
  opacity: 0.2;
}
.e-hover:hover .e-name {
  opacity: 1;
  user-select: all;
}

/* weakness / resistance display */
.wr {
  padding: 5px;
  gap: 5px;
  justify-content: center;
  display: flex;
}
/* underlined element: green = weak, red = res */
.wk, .res {
  width: 24px;
  border-bottom: 2px solid;
  user-select: none;
}
.wk { border-color: #38761d; }
.res { border-color: #990000; }

/* enemy stage info */
.esd {
  margin-top: 120px;
  min-height: 525px;
  width: 100%;
  box-sizing: border-box;
  gap: 10px;
  padding: 20px;
  line-height: 2.0;
  border-radius: 4px;
  background-color: #27363e;
  border: 1px solid #27363e;
}
.esd-text {
  font-size: 14px;
  line-height: 2.0;
}

/* ------------------------------------------------------------------ MENU BUTTON + BAR ------------------------------------------------------------------ */

/* menu button stays at top left, moves away when scroll */
/* fixed menu button when bar is open */
#mb-btn, #open-mb-btn {
  top: 7px;
  left: 11px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
#mb-btn {
  z-index: 1100;
  position: absolute;
}
#open-mb-btn {
  z-index: 1104;
  position: relative;
  display: none;
}
#mb-btn:hover, #open-mb-btn:hover{
  color: #b2cee7;
  transition: all 0.1s ease-in-out;
}

/* menu bar on the side when opened */
#mb {
  z-index: 1102;
  width: 250px;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: #222222;
  display: none;
  user-select: none;
  align-items: stretch;
}
#mb-bar {
  z-index: 1103;
  height: 50px;
  display: flex;
  border-bottom: 2.5px solid #444444;
}
#mb-c {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  overscroll-behavior: contain;
  height: calc(100% - 51px);
}

/* menu bar navigation buttons to other pages */
#mb a {
  padding: 15px 15px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  display: block;
}
#mb a:hover {
  color: #b2cee7;
}

/* menu bar number format changer */
#mb-nf {
  margin-top: auto;
  padding: 0px 15px;
  gap: 10px;
  width: 220px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}
#mb-nfb {
  display: flex;
  gap: 10px;
}
/* number format changer buttons */
.nfb {
  padding: 4px 6px;
  font-family: 'Inconsolata', monospace;
  font-size: 14px;
  color: #ffffff;
  background-color: #222222;
  border: 1px solid #b2cee7;
  border-radius: 4px;
  flex: 1;
  cursor: pointer;
  justify-content: space-between;
  user-select: none;
}
.nfb:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  color: #000000;
  transition: all 0.1s ease-in-out;
}
.nfb.selected {
  font-weight: bold;
  text-decoration: underline;
  background-color: #b2cee7;
  color: #000000;
  transition: all 0.1s ease-in-out;
}
/* example number for testing purposes */
#ex-num {
  color: #ff5555;
  font-size: 16px;
  font-weight: bold;
}

/* menu bar toggles */
#mb-t {
  width: 200px;
  padding: 20px 25px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* menu bar setting */
#mb-stg {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* menu bar leaks toggle */
#mb-lt {
  top: 3px;
  width: 44px;
  height: 22px;
  position: relative;
}
#lt {
  inset: 0px;
  position: absolute;
  background-color: #444444;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.1s;
}
#lt:before {
  left: 2px;
  bottom: 2px;
  width: 18px;
  height: 18px;
  position: absolute;
  content: "";
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.1s;
}
input:checked + #lt:before {
  transform: translateX(22px);
}
input:checked + #lt {
  background-color: #b2cee7;
}

/* menu bar spoilers toggle */
#mb-st {
  top: 3px;
  width: 44px;
  height: 22px;
  position: relative;
}
#st {
  inset: 0px;
  position: absolute;
  background-color: #444444;
  border-radius: 24px;
  cursor: pointer;
  transition: 0.1s;
}
#st:before {
  left: 2px;
  bottom: 2px;
  width: 18px;
  height: 18px;
  position: absolute;
  content: "";
  background-color: #ffffff;
  border-radius: 10px;
  transition: 0.1s;
}
input:checked + #st:before {
  transform: translateX(22px);
}
input:checked + #st {
  background-color: #b2cee7;
}

/* out-of-menu-bar screen darken overlay */
#mb-o {
  z-index: 1101;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000000;
  opacity: 0.5;
  display: none;
}

/* ------------------------------------------------------------------ VERSION SELECTOR ------------------------------------------------------------------ */

/* version selector menu */
#vs {
  z-index: 2001;
  inset: 5vh 5vw;
  position: fixed;
  background-color: #222222;
  border-radius: 1vh;
  display: none;
  flex-direction: column;
  user-select: none;
}

/* top bar + close button */
#vs-x-bar {
  z-index: 2002;
  padding: 1vh 1.25vw;
  display: flex;
  border-bottom: 0.5vh solid #444444;
}
#vs-x {
  font-size: 5vh;
  color: #ffffff;
  cursor: pointer;
}
#vs-x:hover {
  color: #b2cee7;
  transition: all 0.1s ease-in-out;
}

/* version grid selections */
#vg {
  padding: 15px 15px;
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  overscroll-behavior: contain;
}
/* grid option */
.vg-c {
  width: 200px;
  padding: 15px;
  border: 2px solid #888888;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.vg-c-name {
  font-size: 16px;
  font-weight: bold;
}
.vg-c-time {
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
}
.vg-c:hover {
  border: 2px solid #b2cee7;
  background-color: #b2cee7;
  color: #222222;
}

/* out-of-version-selector screen darken overlay */
#vs-o {
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000000;
  opacity: 0.5;
  display: none;
}

/* ------------------------------------------------------------------ CHART/GRAPH MENU ------------------------------------------------------------------ */

/* chart menu */
#c {
  z-index: 2001;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #222222;
  display: none;
  flex-direction: column;
  user-select: none;
  overflow-x: auto;
  overflow-y: scroll;
}

/* chart button stays at top right, moves away when scroll */
#c-btn {
  z-index: 1100;
  position: absolute;
  top: 9px;
  right: 10px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}
#c-btn img {
  width: 28px;
  height: 28px;
}
#c-btn img:hover {
  content: url("../assets/misc/chart-hover.webp");
}

/* chart button stays at top right when chart is open */
#open-c-btn {
  margin-top: 0.5vh;
}
#open-c-btn img {
  width: 4vh;
  height: 4vh;
  cursor: pointer;
}
#open-c-btn img:hover {
  content: url("../assets/misc/chart-hover.webp");
}

/* top bar + close + nav + download buttons */
#c-x-bar {
  z-index: 2002;
  padding: 1vh 1vw;
  height: 5vh;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5vh solid #444444;
}
/* close chart button */
#c-x {
  font-size: 5vh;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
}
#c-x:hover {
  color: #b2cee7;
}
/* chart point switcher */
.c-k {
  font-size: 3vh;
  font-weight: bold;
  cursor: pointer;
  display: block;
  user-select: none;
}
.c-k:hover {
  color: #b2cee7;
  transition: all 0.1s ease-in-out;
}
.c-k.selected {
  font-weight: bold;
  text-decoration: underline;
  color: #b2cee7;
  transition: all 0.1s ease-in-out;
}
/* chart download button */
#c-download-btn {
  margin-top: 0.5vh;
}
#c-download-btn img {
  width: 4vh;
  height: 4vh;
  cursor: pointer;
}
#c-download-btn img:hover {
  content: url("../assets/misc/download-hover.webp");
}

/* graph container */
#c-g {
  width: 100vw;
  height: 90vh;
  position: relative;
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------------------- MISC TOOLTIPS -------------------------------------------------------------------- */

/* menu, buff hp, special enemy hp, misc stats tooltips */
.tt-menu, .tt-v-hp, .tt-e-v-hp, .tt-e-stat {
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tt-menu, .tt-v-hp {
  margin-left: 8px;
  display: inline-block;
}
.tt-e-hp, .tt-e-stat {
  display: block;
}
.tt-e-hp {
  position: absolute;
  font-weight: normal;
  font-size: 48px;
  top: -22px;
  right: 157px;
  user-select: none;
}
.tt-e-stat {
  display: inline-block;
  width: 25px;
  margin-top: 5px;
  font-size: 16px;
  color: #888888;
}

/* tooltip text box */
.tt-menu .tt-text, .tt-e-hp .tt-text,
.tt-v-hp .tt-text, .tt-e-stat .tt-text {
  z-index: 1000;
  padding: 7.5px;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  font-size: 12px;
  background-color: #444444;
  color: #ffffff;
  border-radius: 4px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  line-height: 1.5;
}
.tt-menu:hover,
.tt-v-hp:hover,
.tt-e-stat:hover {
  color: #b2cee7;
}
.tt-menu:hover .tt-text,
.tt-v-hp:hover .tt-text,
.tt-e-hp:hover .tt-text,
.tt-e-stat:hover .tt-text {
  color: #ffffff;
  visibility: visible;
  opacity: 1;
}

/* tooltip placements */
/* menu: top, buff: side, star: top, stat: bottom */
.tt-menu .tt-text{
  width: 120px;
  bottom: 140%;
  left: 50%;
}
.tt-e-hp .tt-text{
  white-space: nowrap;
  width: auto;
  bottom: 95%;
  left: 50%;
}
.tt-v-hp .tt-text {
  width: 240px;
  top: -190%;
}
.tt-e-stat .tt-text {
  white-space: nowrap;
  width: auto;
  top: 150%;
  left: 50%;
}
/* tooltip arrow placements */
.tt-menu .tt-text::after,
.tt-v-hp .tt-text::after,
.tt-e-hp .tt-text::after,
.tt-e-stat .tt-text::after {
  content: "";
  position: absolute;
  border-width: 7.5px;
  transform: translateX(-50%);
  border-style: solid;
}
.tt-menu .tt-text::after, .tt-e-hp .tt-text::after {
  top: 97.5%;
  left: 50%;
  border-color: #444444 transparent transparent transparent;
}
.tt-v-hp .tt-text::after {
  top: 90%;
  left: 47.5%;
  border-color: #444444 transparent transparent transparent;
}
.tt-e-stat .tt-text::after{
  top: -10%;
  left: 50%;
  border-color: transparent transparent #444444 transparent;
}

/* ---------------------------------------------------------------------- VERY MISC ---------------------------------------------------------------------- */

/* importing font and mobile support */
@font-face {
  font-family: 'Inconsolata';
  src: url('../assets/Inconsolata-Regular.ttf') format('truetype');
}
@media (max-width: 1300px) {
  #b { min-height: 390px; }
  .esd { min-height: 725px; }
}
@media (max-width: 1000px) {
  #b { flex-direction: column; }
  #v-hp{ width: 60vw; margin: 15px auto; }
  #b, .esd { min-height: 0px; }
  #s { flex-direction: column; }
  #s2, #s3 { margin-top: 20px; }
}
@media (max-width: 800px) {
  #mb-nf { margin-top: 27.5vh; }
  .vg-c { width: 150px; }
  #c-x-bar { width: 100vw; }
  #c { width: 100%; }
  .tt-v-hp .tt-text { top: -25%; left: 1200%; }
}
@media (max-width: 500px) {
  #v-hp { flex-direction: column; gap: 15px; }
  .vg-c { width: 250px; }
  #c-g { width: 227.5vw; height: 1000vh; }
  #vs-x-bar { padding: 1vh 2.25vw; }
  #c-x-bar { width: 227.5vw; padding: 1vh 2.25vw; }
  .tt-v-hp .tt-text { top: -300%; left: 50%; width: 120px; height: 37.5px; }
  .tt-v-hp .tt-text::after { top: 100%; left: 50%; border-color: #444444 transparent transparent transparent; }
}
@media (max-width:300px){
  #v-hp{ width: 45vw; flex-direction: column; }
  #v-hp-alt{ margin-top: 15px; }
}